   <footer class="footer">
      <div class="social">
         <div class="cont-social">
            <div>
               <iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
            </div>
            <span>
               Facebook
            </span>
         </div>
         <div class="cont-social">
            <div>
               <iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
            </div>
            <span>
               Twitter
            </span>
         </div>
         <div class="cont-social">
            <div>
               <iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
            </div>
            <span>
               Instagram
            </span>
         </div>
      </div>
      <p>© 2025 Todos los derechos reservados.</p>
   </footer>
</div> <!-- Close container -->