   <footer class="footer flex flex-col bg-emerald-400 justify-center items-center pt-5 pb-[100px] md:pb-5">
      <div class="social flex gap-5 [&>div]:flex [&>div]:flex-col justify-center items-center [&>div]:p-2 [&>div]:text-gray-50 [&>div>div]:flex [&>div>div]:justify-center [&>div>div]:items-center [&>div>div]:text-2xl [&>div>div]:text-gray-50">
         <div class="cont-social">
            <div>
               <iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
            </div>
            <span>
               Facebook
            </span>
         </div>
         <div class="cont-social">
            <div>
               <iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
            </div>
            <span>
               Twitter
            </span>
         </div>
         <div class="cont-social">
            <div>
               <iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
            </div>
            <span>
               Instagram
            </span>
         </div>
      </div>
      <p class="text-sm tracking-wider text-gray-600 pt-5">© 2025 Todos los derechos reservados.</p>
   </footer>