<%- // include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind Css -->
    <link rel="stylesheet" href="/css/output.css" />

    <!-- CSS NOTIFICATIONS -->
    <link rel="stylesheet" href="/css/notifications.css" />

    <title>Login</title>
  </head>
  <body class="bg-gray-600">
    <ul class="notification-container" data-error="<%= error %>"></ul>
    <main
      class="container-login min-h-dvh max-w-[50vw] md:max-w-[400px] m-[0_auto] flex flex-col justify-center"
    >
      <form
        method="post"
        class="<%= ` form flex flex-col gap-5 bg-gray-50 rounded-2xl [&>div]:flex [&>div]:flex-col [&>div]:gap-2 [&>div>input]:px-3 [&>div>input]:py-3 px-5 py-8` %>"
      >
        <h1 class="font-bold text-2xl text-gray-800">
          ¡Te damos la bienvenida!
        </h1>
        <div
          class="email has-[>input:focus]:border-2 relative pt-2 border border-gray-500 text-gray-500 rounded-md"
          data-email="<%= email %>"
        ></div>
        <div
          class="password has-[>input:focus]:border-2 relative pt-2 border border-gray-500 text-gray-500 rounded-md"
        ></div>

        <div>
          <div class="text-center">
            <a class="text-emerald-800 hover:underline" href="#"
              >¿Has olvidado tu contraseña?</a
            >
          </div>
          <input
            class="bg-emerald-600 rounded-4xl transition-colors duration-300 text-gray-50 text-lg font-medium py-3 cursor-pointer hover:bg-emerald-700"
            type="submit"
            value="Acceder a Nodepop"
          />
        </div>
        <div class="to-register text-center">
          <p>
            ¿No tienes cuenta?
            <a class="text-emerald-600 hover:underline" href="/register"
              >Crear cuenta</a
            >
          </p>
        </div>
      </form>
    </main>
    <script type="module" src="/js/login.js"></script>
  </body>
</html>
