@import "tailwindcss";

@theme {
  --height-header: 72px;
  --height-header-md: 128px;
  --animate-fade-in: fadeIn 1s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.modal{
  @apply left-[50%] translate-x-[-50%] top-[50%] translate-y-[-50%] rounded-md;
  &::backdrop{
    @apply bg-gray-900/25 backdrop-blur-md;
  }
}
